<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Component Model</title>

  <!-- CSS -->
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <main>

    <!-- Reusable Component -->
    <section class="flex__1_3_200_text_image_cover">
      <div>
        <img class="object_fit__cover" src="https://placehold.co/400x600" alt="">
      </div>
      <div class="textbox">
        <h2>Lorem ipsum dolor sit amet</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus aliquid eius quia expedita illo sequi optio labore assumenda.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus aliquid eius quia expedita illo sequi optio labore assumenda.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab dolorem aperiam numquam adipisci ex ipsum labore, ut obcaecati, perferendis libero earum voluptatem alias error ea inventore! Veniam corporis ex dolor?
        </p>
        <a class="cta__primary" href="#" target="_blank" rel="noopener noreferrer">Learn more about X thing</a>
      </div>
    </section>

  </main>
</body>
</html>